html, body {
    background: #3F3F3FFF;
    background: -webkit-linear-gradient(to right, #3F3F3FFF, #3F3F3FFF, #3F3F3FFF);
    background: linear-gradient(to right, #3F3F3FFF, #3F3F3FFF, #3F3F3FFF);
    min-width: 400px;
}

#ville {
    text-transform: capitalize;
}

#temperature {
    font-size: 4em;
}

#changer {
    background: rgba(178, 223, 251, .3);
    cursor: pointer;
}